html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.678);
}

#overlay img {
  display: flex;
  width: 90%;
  height: 90%;
}